@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  grid-template-areas:
    "header-area"
    "main-content-area"
    "main-footer-area";
}

.main-header {
  grid-area: header-area;
}

.custom-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: -12px;
}

.main-content {
  grid-area: main-content-area;
  height: 500px;
}

.main-footer {
  grid-area: main-footer-area;
}

.black_bg {
  background-color: #000;
}

.custom-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
}

.custom-width {
  max-width: 165px;
}

.position-vectors {
  left: 48%;
  top: -35%;
}

.img-resize {
  width: 100%;
  max-width: 64px;
  max-height: 64px;
}

.logo_bg {
  background-color: #f15625;
}

@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }
  .resize_btn {
    width: 100%;
  }

  .form_d-block {
    display: block;
  }
}

@media (min-width: 768px) {
  .custom_height {
    height: 32px;
  }

  .custom_transform {
    transform: translateY(-16px);
  }

  .neg_m-L {
    margin-left: -8px;
  }

  .neg_m-R {
    margin-right: -8px;
  }

  .border_on {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}